@font-face {
  font-family: 'NunitoRegular';
  src: url('../fonts/Nunito-Regular.ttf');
  font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'NunitoSemiBold';
  src: url('../fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'NunitoSansRegular';
  src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'NunitoSansSemiBold';
  src: url('../fonts/NunitoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'NunitoSansBold';
  src: url('../fonts/NunitoSans-Bold.ttf');
}



:root {
	--ion-color-primary: #00AAFF;
	--ion-color-primary-rgb: 0,170,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #0096e0;
	--ion-color-primary-tint: #1ab3ff;

	--ion-color-secondary: #5260ff;
	--ion-color-secondary-rgb: 82,96,255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4854e0;
	--ion-color-secondary-tint: #6370ff;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #27C200;
	--ion-color-success-rgb: 39,194,0;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #22ab00;
	--ion-color-success-tint: #3dc81a;

	--ion-color-warning: #FFBF00;
	--ion-color-warning-rgb: 255,191,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0a800;
	--ion-color-warning-tint: #ffc51a;

	--ion-color-danger: #FF4F4F;
	--ion-color-danger-rgb: 255,79,79;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e04646;
	--ion-color-danger-tint: #ff6161;

	--ion-color-medium: #767E94;
	--ion-color-medium-rgb: 118,126,148;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #686f82;
	--ion-color-medium-tint: #848b9f;

	--ion-color-light: #F5F7FA;
	--ion-color-light-rgb: 245,247,250;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8d9dc;
	--ion-color-light-tint: #f6f8fb;

  --ion-font-family: 'NunitoRegular', 'sans-serif';
}

body {
  font-family: 'NunitoRegular', 'sans-serif';
}

h1, h2, h3, h4, button, a {
  font-family: 'NunitoSansRegular';
}

img {
  width: 100%;
}

